# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
C/**/*.o
*.class
*.metadata
*.properties
*.svg
*~
*.xml
Java/21days/.recommenders
/Java/21days/PageData/nbproject/private/
/Java/21days/PageData/build/
/Java/21days/PageData/dist/
/Java/21days7/nbproject/private/
/Java/21days7/build/
