# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore these specific dirs and extensions
__pycache__/
node_modules/
*.py[cod]
*$py.class
*.o
*.class
*.metadata
*.properties
*.svg
*~
*.xml
#*.json
*.tsf
.vscode/
