/** Div 20% wide and centered */
body {
	width: 100%; /*This is the default in browsers, take all space*/
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1em; /*This is the browser's default font size*/
	background-color: white;
	color: black;
}
div#my20 {
	width: 20%;
	margin: 0 auto 0 auto;
}
div#myheader { 
	font-size: 2em;
	color: lawngreen;
	margin-left: 2%;
	padding: 0;
	margin: 0 auto 0 auto;
	/* width: 90%; /*old style*/
	width: 100%;
	position: absolute; /*this will remove space in left and right margins*/
	left: 0;  /*this will remove space in left and right margins*/
	top: 0; /*will remove space from top*/
	background-color: #990000;
}
div#myheader h2{ /*This will appy to h2 inside/whose id is "myheader"*/
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;
	color: white;
	padding: 0;
	margin-left: 2%;
}
div#mynavbar {
	font-size: 1em;
	color: blue;
}
div#main {
	width: 90%; /* this should create whitespace in left and right */
	margin: 1.5em auto 1% auto; /* auto will split the 10% evenly left and right */
}
div#content { /* same as parent div.  values are relative to outer div */
	color: red;
	width: 68%;	
	margin: 0 auto 0 auto;
	float: left; /*place div in left sife*/
}
div#sidebar {
	width: 29%; /*Leaves gutter of 3% between content and sidebar divs*/
	float: right;
}
.no-wrap {
	clear: both;
}
