/** Div 20% wide and centered */
body {
	width: 100%; /*This is the default in browsers, take all space*/
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1em; /*This is the browser's default font size*/
	background-color: white;
	color: black;
}
div#my20 { /*the image is 1-pixel-wide and the browser repeats it for faster load*/
	width: 20%;
	margin: 0 auto 0 auto;
	background-image: url("http://www.asmarterwaytolearn.com/gray-gradient-slice.png");
	background-repeat: repeat-x;
}

div#myheader { 
	/*font-size: 2em; */
	/*color: lawngreen; */
	/* margin-left: 2%; */
	/* padding: 0; *?
	/* margin: 0 auto 0 auto; */
	/* width: 90%; /*old style*/
	width: 100%;
	/*position: absolute; /*this will remove space in left and right margins*/
	position: fixed; /*keep header immobilized as everything else scrolls*/
	left: 0;  /*this will remove space in left and right margins*/
	top: 0; /*will remove space from top*/
	background-color: #990000;	
	
}
div#myheader h2, div#invisible-header h2{ /*This will appy to h2 inside/whose id is "myheader"*/
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	/* font-weight: 900; */
	/* color: white; */
	/* padding: 0; */
	/* margin-left: 2%;	*/
}
div#invisible-header {
	width: 100%;
	visibility: hidden;
}
p.clearFloat{
	clear: both;
}
div#myheader img, div#invisible-header img {
	float:left;
	margin: .9em .6em 0 .75em;
}
div#mynavbar{
	font-size: 1em;
	color: blue;
}
div#main {
	width: 90%; /* this should create whitespace in left and right */
	margin: 1.5em auto 1% auto; /* auto will split the 10% evenly left and right */
}
div#content { /* same as parent div.  values are relative to outer div */
	color: red;
	width: 68%;	
	/* margin: 0 auto 0 auto; */
	float: left; /*place div in left sife*/
}

div#sidebar {
	width: 29%; /*Leaves gutter of 3% between content and sidebar divs*/
	float: right;	
}
div#leftbar{	
	clear: both; /*Prevnts wrap from the div above*/
	/* background-color: blue;  Will do each li individually */
	display: inline-block;  /*Makes it just wide enough to accommodate the list items*/
	/* clear: both; */
	float: left; 
}
div#leftbar ul {
	list-style-type: none;
	padding-left: 0;	
}
div#leftbar ul li {
	/* padding: 0 1em .3em 1em; /* this centered the links and added space below each.
	Will do padding inside the <a element*/
	background-color: blue;
	margin: 0 0 .10em 0;
}
div#leftbar ul, li, a{	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: 900;
	text-decoration: none; /*Removes the underline*/		
	/*clear: both; /*Prevnts wrap from the div above*/
	color: white;	
	display: block; /* enlarges each li element and pad it out */
	padding: .35em;
}
div#horizontalnav {
	clear: both; /*Prevents wrap from the div above.  Meaning it puts this in a new line.*/
	width: 100%;		
}
div#horizontalnav ul {
	list-style-type: none;
	padding-left: 0; /*This removes an apparent margin in the left side where the bullets are*/
}
div#horizontalnav ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 900;
	text-decoration: none; /*Removes the underline*/		
	/*clear: both; /*Prevnts wrap from the div above*/
	color: white;	
	display: block; /* enlarges each li element and pad it out */
	padding: .10em;
}
div#horizontalnav ul li {
	/* background-color: blue; Removing for light blue when hovering */
	text-align: center;
	display: inline; /*Tell browser not to arrange list items vertically*/
	width: 19%; /*each block will be 19% of the width of the div*/
	float: left;
	margin-right: .5em;
}
li.changeBackground {
	background-color: blue;
}li.changeBackground:hover {
	background-color:lightblue;
}
li.changeBackground:active {
	background-color:darkblue;
}