/* This is a test css sheet for the form */
form {
    width: 50%;
    margin: 0 auto 0 auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5em;
}

input[type="text"], textarea{
    margin: auto auto auto auto;
    padding: .25em;
    font-size: 1em;
}
