p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.1em;
}
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}
p.important {
    font-size: 1.5em;
    font-weight: 900;
}
.typewriter {
    font-family: "Courier New", Courier, monospace;
}
.italicing{
    font-style: italic;    
}
.redcolor{
    color: #cc0000;
}
p.spacing{
    letter-spacing: .1em;
    word-spacing: 1em;
    line-height: 1.8em;
}
h3 {
    text-align: center;
}
p.justify{
    text-align: justify;
}
p.indent{
    text-indent: 1em;
}
blockquote {
    font-size: .5em;
    color: gray;
}
p.whitespace {
    margin-right: 2em;
    margin-left: 2em;
}
p.allfourmargin{
    margin: 2em;
}
.myborder {
    border: 5px solid red;
    padding: .3em;
}
h4, p.pcenter{
    text-align: center;
}
h2#iorange {
    color: orange;
}
div#tdiv p{
    margin-left: 3em;
    margin-right: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
img.display-block {
    display: block;
}
img.move-right{
    margin-left: 5em;
}
img.center-img {
    display: block;
    margin: 0 auto 0 auto;
}
img.float-img {
    float: left;
}
p.clear-wrap{
    clear: both;
}
a {
    color: gray;
}
a:hover {
    color: orange;
}
li {
    margin: .75em;
}
ul {
    list-style-type: square;
}

table {
    border-collapse: collapse;
    width: 75%
#   border-spacing: .25em;
}

th, td {
    border: 1px solid black;
    width: 50%;
#    padding: 2em;
}
table#reducing{
    width: 50%
}
tr.even-row {
    background-color: lightgray;
}
div.lessthan{
    width: 90%;
    position: relative;
    left: 25%;
    bottom: 20%;
}
p.lessthan{
    width: 90%;
    text-align: center; /* Will center all text */
}
div#z_index {
    position: fixed;
    right: 80%;
    bottom: 5px;
    z-index: 1;
}