p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.1em;
}
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}
p.important {
    font-size: 1.5em;
    font-weight: 900;
}
.typewriter {
    font-family: "Courier New", Courier, monospace;
}
.italicing{
    font-style: italic;    
}
.redcolor{
    color: #cc0000;
}
p.spacing{
    letter-spacing: .1em;
    word-spacing: 1em;
    line-height: 1.8em;
}
h3 {
    text-align: center;
}
p.justify{
    text-align: justify;
}
p.indent{
    text-indent: 1em;
}
blockquote {
    font-size: .5em;
    color: gray;
}
p.whitespace {
    margin-right: 2em;
    margin-left: 2em;
}
p.allfourmargin{
    margin: 2em;
}
.myborder {
    border: 5px solid red;
    padding: .3em;
}
h4, p.pcenter{
    text-align: center;
}
h2#iorange {
    color: orange;
}
div#tdiv{
    margin-left: 3em;
    margin-right: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
img.display-block {
    display: block;
}
img.move-right{
    margin-left: 5em;
}
img.center-img {
    display: block;
    margin: 0 auto 0 auto;
}